<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../../css/reset.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/add.css"/>
	</head>
	<body>
		<div id="app">
			<div class="header">
				<span>添加用户</span>
			</div>
			<div class="content">
				<table>
					<tr>
						<td class="text-right">姓名</td><td class="content_right"><input class="input" placeholder="请输入姓名"></td>
					</tr>
					<tr>
						<td class="text-right">手机号码</td><td class="content_right"><input class="input" placeholder="请输入手机号"></td>
					</tr>
					<tr>
						<td class="text-right">身份证号码</td><td class="content_right"><input class="input" placeholder="请输入身份证号"></td>
					</tr>
					<tr>
						<td class="text-right">密码</td><td class="content_right"><input class="input" placeholder="请输入密码"></td>
					</tr>
					<tr>
						<td></td><td class="content_right"><span class="btn btn-info" id="add">立即提交</span> <span class="btn" id="reset">重置</span> </td>
					</tr>
				</table>

			</div>
		</div>
	</body>
<script src="/js/jquery-3.5.0.min.js"></script>
<script src="/layer/layer.js"></script>
<script>
	$(function () {
		$("#add").click(function () {
			var userName = $("input:eq(0)").val();
			var userPhone = $("input:eq(1)").val();
			var idNumber = $("input:eq(2)").val();
			var passWord = $("input:eq(3)").val();
			if((userName==="")||(userPhone==="")||(idNumber==="")||(passWord==="")){
				layer.alert("请将信息填写完整",{icon:5});
				return false;
			}else {
				if(userPhone.length!==11){
					layer.alert("请输入11位数的电话号码",{icon:5});
					return false;
				}else if(userPhone.match(/^\d{11}$/)==null){
					layer.alert("请勿输入数字以外的字符作为电话号码",{icon:5});
					return false;
				}else if(userPhone.match(/^[0]/)!==null){
					layer.alert("请勿输入以0开头的电话号码",{icon:5});
					return false;
				}else if(idNumber.length!==18){
					layer.alert("请输入18位数的身份证号",{icon:5});
					return false;
				}else if(idNumber.match(/^[0]/)!==null){
					layer.alert("请勿输入以0开头的身份证号",{icon:5});
					return false;
				}else if(idNumber.match(/[0-9A-Z]{18}/)==null){
					layer.alert("请勿输入数字和大写英文字符以外的字符作为身份证号",{icon:5});
					return false;
				}else if(userName.length<2||userName.length>16){
					layer.alert("请输入2-16位的用户名",{icon:5});
					return false;
				}else if(userName.match(/\s+/)!==null) {
					layer.alert("请勿输入空白字符作为姓名", {icon: 5});
					return false;
				}else if(passWord.length<5||passWord.length>12){
					layer.alert("请输入5-12位的密码",{icon:5});
					return false;
				}else if(passWord.match(/^\w{5,12}$/)==null){
					layer.alert("请勿输入数字、英文字母、下滑线以外的字符作为密码", {icon: 5});
					return false;
				}else {
					var id = layer.load();
					var info = {
						userName:userName,
						userPhone:userPhone,
						idNumber:idNumber,
						passWord:passWord
					};
					$.getJSON("/user/add.do",info,function (result) {
						layer.close(id);
						layer.msg(result.result);
						if(result.status === 0){
							$("input").val("");
						}
					});
				}
			}
		});

		$("#reset").click(function () {
			$("input").val("");
		});
	});


</script>
</html>
